/*grabbing class button-like from html and adding style*/
.button-like {
  border: 2px solid #b6dac7;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #b6dac7;
  transition: all ease 0.4s;
}
/*giving class button-like span margin*/
.button-like span {
  margin-left: 0.5rem;
}
/*giving class button-like .fa and button-lik span transition styling*/
.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}
/*giving class button-like:focus with specific background color of transparent*/
.button-like:focus {
  background-color: transparent;
}
/*giving both classes same color*/
.button-like:focus .fa,
.button-like:focus span {
  color: #b6dac7;
}
/*giving classes border color and background color*/
.button-like:hover {
  border-color: #FFD700;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #FFD700;
}
/*giving all liked classes in html color with background color and border color*/
.liked {
  background-color: #FFD700;
  border-color: #FFD700;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #FFD700;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #FFD700;
  border-color: #FFD700;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}
/*giving heading tags with color*/
h6 {
  color: white;
}

h5 {
  color: #242424;
}

h4 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: #242424;
  text-align: center;
}

ul {
  color: #242424;
  text-align: center;
}
/*giving id imdb-poster only scale resize*/
#imdb-poster {
  scale: 50%;
}
/*giving naptime id flex styling*/
#naptime {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*giving id favorite-card id in html styling*/
#favorite-card {
  display: flex;
  position: relative;
  border-radius: 10px;
  background-color: #b6dac7;
  color: #242424;
}
/* giving favorite-header id from html styling with border-bottom*/
 #favorite-header {
  border-bottom: 3px solid #242424;
 }

a {
  margin: .75rem 4em;
}
/*styling the class holy-grail-grid*/
.holy-grail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  background-color: #b6dac7;
}

/*styling the class input-group-rounded and class input-group-field*/
.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
  background-color: #b6dac7;
  color: #242424;
}
/*styling the classinput-group-rounded and input-group-button and button classes*/

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
  background-color: #858383;
  color: #242424;
}

/*styling the class marketing-site-content-section*/

.marketing-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/*styling the class marketing-site-content-section button round *//

.marketing-site-content-section .button.round {
  border-radius: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: #272526;
}
/*styling the class marketing-site-content-section-img*/

.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
/*styling the class marketing-site-content-section*-block with flex styling and color */

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  color: white;
  background: #b6dac7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: start;
          align-items: center;
}
/*styling the class marketing-site-content-section-header and subheader with specific font sies*/

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 13px;
}


/*classes wiith same padding and background color*/
.holy-grail-left,
.holy-grail-middle, 
.holy-grail-right,
.holy-grail-footer {
  padding: 1rem;
  background-color: #242424;
}

.holy-grail-header {
  padding: 3rem;
  background-color: #242424;
  background-image: url(../images/MixStream.jpeg);
  background-position: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}
/*class with grid styling*/
.holy-grail-footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}
/* media queries for different classes*/
@media screen and (max-width: 60em) {
  .holy-grail-left {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-middle {
    -ms-grid-row: 4;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-grid {
    -ms-grid-rows: 2fr 1fr 5fr 1fr;
        grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}

@media screen and (max-width: 60em) {
 
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 2rem;
  }
}
